node_modules/
vision/tracking/__pycache__/reid.cpython-310.pyc
/vision/tracking/torchreid/utils/__pycache__
/vision/tracking/torchreid/utils/__pycache__
/.vscode
/vision/tracking/__pycache__
/vision/tracking/__pycache__
vision/tracking/hand_landmarker.task
/vision/tracking/__pycache__
/vision/tracking/torchreid/__pycache__
/vision/tracking/torchreid/data/__pycache__
/vision/tracking/Videos
/vision/tracking/torchreid/utils/__pycache__
/vision/tracking/torchreid/utils/__pycache__
/vision/tracking/__pycache__
/vision/tracking/__pycache__
*.pyc
*.pyc
config.py